<form method="post">
  <div class="col-12">
    <label for="inputAddress" class="form-label">Название продукта</label>
    <input type="text" name="productName" class="form-control" id="inputAddress" placeholder="Название продукта">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Кому принадлежит</label>
    <input type="text" name="productOwner" class="form-control" id="inputAddress" placeholder="Кому принадлежит">
  </div>
  <select class="form-select" name="productCategory" aria-label="Default select example">
    <option selected>Выбрать категорию продукта</option>
    <option value="milk_products">Milk products</option>
    <option value="sweets">Sweets</option>
    <option value="vegetables">Vegetables</option>
    <option value="fruits">Fruits</option>
  </select>
  <select class="form-select" name="productState" aria-label="Default select example">
    <option selected>Выбрать состояние продукта</option>
    <option value="new">new</option>
    <option value="old">old</option>
  </select>
  <button type="submit" class="btn btn-danger">Добавить</button>
</form>
